h1 {
    text-align: center;
    padding-top: 10%;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("wine_pour.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}